# python
*.egg-info
*_version.py
*.pyc
*__pycache__
.mypy_cache

# pytask
.pytask.sqlite3
.pytask

# bld
bld/

#Raw data
src.debt_crisis.data/
src/debt_crisis/data/

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
